<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDilNVtuBfn4HmuqP5MvYzy-vAWoT5GeEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>706851265772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1Octavio</string>
	<key>PROJECT_ID</key>
	<string>flutter-app1-15b84</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app1-15b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706851265772:ios:61a44c12fd94fa2c4519c9</string>
</dict>
</plist>